# Environments
.env
.env.local
.env.prod
config/.env
config/.secret
config/credentials.json
config/token.yaml

# Logs
logs/
monitor.log
nohup.out
*.log

# Python
__pycache__/
*.pyc
.venv/

# IDEs
.idea/
.vscode/
.DS_Store
